*.pfx
*.suo
*.tmp_proj
*.user
build/bin/
build/bin/
build/publish/
build/publish/
build/stderr.txt
build/stdout.txt
desktop.ini
obj/
src/MIGA.Adapters/bin/
src/MIGA.Adapters/obj/
src/MIGA.Base/bin/
src/MIGA.Base/obj/
src/MIGA.Client.Tests/bin/
src/MIGA.Client.Tests/obj/
src/MIGA.Client/bin/
src/MIGA.Client/obj/
src/MIGA.Core/bin/
src/MIGA.Core/obj/
src/MIGA.FileSystem/bin/
src/MIGA.FileSystem/obj/
src/MIGA.Instances/bin/
src/MIGA.Instances/obj/
src/MIGA.Pipelines/bin/
src/MIGA.Pipelines/obj/
src/MIGA.Products/bin/
src/MIGA.Products/obj/
src/MIGA.Tests/bin/
src/MIGA.Tests/obj/
src/MIGA.Tool.Base/bin/
src/MIGA.Tool.Base/obj/
src/MIGA.Tool.Plugins.TrayPlugin/bin/
src/MIGA.Tool.Plugins.TrayPlugin/obj/
src/MIGA.Tool.Windows/bin/
src/MIGA.Tool.Windows/obj/
src/MIGA.Tool.Wizards/bin/
src/MIGA.Tool.Wizards/obj/
src/MIGA.Tool/bin/
src/MIGA.Tool/obj/
src/TestResults/
src/obj/
src/packages/
src/.vs/
src/MIGA.FileSystem.AutoTests/bin/
src/MIGA.Client.UnitTests/bin/
src/MIGA.Foundation.SqlAdapter/bin/
src/MIGA.Foundation.SqlAdapter/obj/
src/MIGA.Foundation.SqlAdapter.IntegrationTests/bin/
src/MIGA.Foundation.SqlAdapter.IntegrationTests/obj/
src/MIGA.Sitecore9Installer/bin/
src/MIGA.Telemetry/bin/
src/MIGA.Telemetry.Tests/bin/
src/MIGA.SitecoreEnvironments/bin/
/.vs
src/MIGA.Sitecore9Installer.Tests/bin/
src/MIGA.ContainerInstaller/bin/
src/MIGA.Products.Tests/bin/
